<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  table, th, td {
    padding: 5px;
    border: 1px solid black;
  }
  .center-text {
    text-align: center;
    margin: 80px 0 0 0;
  }
  .center-reduced-margin{
    text-align: center;
    margin: 40px 0 0 0;
  }
  .center-div{
    margin: 0 auto;
    width: 450px;
  }
  </style>
</head>
<body>
  <div class="center-text">
    <% include partials/_header %>
  </div>
    <!-- Tests whether a user is logged in - if not, prompts the user to log in or register.
    If the user is logged in, but has no data, a message displays that no URLs exist.
    Otherwise, EJS automatically generates the necessary table.-->
    <%if(user){%>
    <%if(Object.keys(localUrlDatabase.entries).length !== 0){%>
    <div class="center-div">
    <table>
      <tr>
        <th>Date Made (mm/dd/yyyy)</th>
        <th>Tiny URL</th>
        <th>Long URL</th>
        <th>Edit URL</th>
        <th>Delete URL</th>
      </tr>
      <%for (var key in localUrlDatabase.entries){ %>
      <tr>
        <td>
          <%=localUrlDatabase.entries[key].date%>
        </td>
        <td>
          <%=key%>
        </td>
        <td>
          <%=localUrlDatabase.entries[key].url %>
        </td>
        <td>
          <form method="GET" action="/urls/<%=key%>">
          <input type="submit" value="Edit" style="margin: 5px 15px 5px 15px">
          </form>
        </td>
        <td>
          <form method="POST" action="/urls/<%=key%>/delete">
          <input type="submit" value="Delete" name="<%=key%>" style="margin: 5px 15px 5px 15px">
          </form>
        </td>
      </tr>
      <%}%>
    </table>
    <%}else{%>
    </div>
      <div class="center-reduced-margin">
        No URLs created yet!
      </div>
    <%}}else{%>
      <div class="center-reduced-margin">
        Register or login to see your URLs!
      </div>
    <%}%>
  <div class="center-reduced-margin">
    <%if(user !== undefined){%>
      <a href="/urls/new">Create a New tinyURL</a>
    <%}%>
  </div>
</body>
</html>