<!DOCTYPE html>
<html lang="en">
<head>
  </br>
  <% include partials/_header %>
  </br>
  <style>
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  table, th, td {
    padding: 5px;
    border: 1px solid black;
  }
  </style>
</head>
<body>
    <!-- Add your EJS code here -->
    <table>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th>Edit URL</th>
        <th>Delete URL</th>
      </tr>
      <%for (var key in urlDatabase.entries){ %>
      <tr>
        <td><%=key %></td>
        <td><%=urlDatabase.entries[key].url %></td>
        <%if(user){%>
        <%if(urlDatabase.entries[key].userID === user.id){%>
        <td><a href="/urls/<%=key%>">Edit</a></td>
        <%}else{%>
        <td>User mismatch</td>
        <%}}else{%>
        <td>User mismatch</td>
        <%}%>
        <td>
        <form method="POST" action="/urls/<%=key%>/delete">
        <input type="submit" value="Delete" name="<%=key%>" style="margin-left: 15px">
        </form>
        </td>
      </tr>
      <%}%>
    </table>
    </br>
    <%if(user){%>
      <a href="/urls/new">Create a New tinyURL</a>
    <%}else{%>
      <a href="/login">Create a New tinyURL</a>
    <%}%>
</body>
</html>