<!DOCTYPE html>
<html lang="en">
<head>
  </br>
  <% include partials/_header %>
  </br>
  <style>
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  table, th, td {
    padding: 5px;
    border: 1px solid black;
  }
  </style>
</head>
<body>
    <!-- Test whether a user is logged in, and whether that user has a database of URLs -->
    <%if(user){%>
    <%if(Object.keys(urlDatabase.entries).length !== 0){%>
    <table>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th>Edit URL</th>
        <th>Delete URL</th>
      </tr>
      <%for (var key in urlDatabase.entries){ %>
      <tr>
        <td><%=key %></td>
        <td><%=urlDatabase.entries[key].url %></td>
        <td><a href="/urls/<%=key%>">Edit</a></td>
        <td>
        <form method="POST" action="/urls/<%=key%>/delete">
        <input type="submit" value="Delete" name="<%=key%>" style="margin-left: 15px">
        </form>
        </td>
      </tr>
    </table>
    <%}}else{%>
    No URLs created yet!
    <%}}else{%>
    Register or login to see your URLs!
    <%}%>
    </br></br>
    <%if(user){%>
      <a href="/urls/new">Create a New tinyURL</a>
    <%}else{%>
      <a href="/login">Create a New tinyURL</a>
    <%}%>
</body>
</html>